.word-letter {
    font-family: Bungee;
    position: relative;
    border: 2px solid #d1d5db;
    border-radius: 4px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: #1a1a1a;
    font-size: 2.75rem;
    line-height: 1;
    padding: 1rem;
    padding-top: 0.85rem;
    user-select: none;
    overflow: hidden;

    &.editable {
        background-color: #ededed;
    }

    &.status-correct {
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--forest-green);
            top: 0;
            left: 0;
            z-index: 1;
            box-shadow: 0 0 20px -6px var(--forest-green);
            animation: rollDown .75s both;
        }

        &::before {
            content: "";
            z-index: 10;
            position: absolute;
            height: 200%;
            width: 200%;
            top: -120%;
            left: -100%;
            background: linear-gradient(transparent 0%,
                    rgba(255, 255, 255, 0.2) 45%,
                    rgba(255, 255, 255, 0.7) 50%,
                    rgba(255, 255, 255, 0.2) 55%,
                    transparent 100%);
            transition: all 2s;
            animation: shine 2s .75s forwards;
        }
    }

    &.status-present {
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: var(--schoolbus-yellow);
            top: 0;
            left: 0;
            z-index: 1;
            box-shadow: 0 0 20px -6px var(--schoolbus-yellow);
            animation: rollDown .75s both;
        }
    }

    &.status-wrong {
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: lightgrey;
            top: 0;
            left: 0;
            z-index: 1;
            box-shadow: 0 0 20px -6px lightgrey;
            animation: blurIn .75s both;
        }
    }
}

@keyframes rollDown {
    0% {
        transform: scaleY(0);
        opacity: 0;
        transform-origin: 50% 0%;
    }

    100% {
        transform: scaleY(1);
        opacity: 1;
        transform-origin: 50% 0%;
    }
}

@keyframes blurIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shine {
    0% {
        top: -120%;
    }

    100% {
        top: 100%;
    }
}